.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #4056A1;
  height: 120px;
  color: #FFFFFF;
  padding: 1.5em;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navleft {
 
  font-family: 'Bungee', cursive;
}
.navright {
  
}